---
---

html,
body {
	margin: 0;
	padding: 0;
	position: relative;
}
.container {
	width: 800px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

a,
a:focus,
a:focus-visible,
a:visited,
a:hover {
	text-decoration: none;
	color: unset;
}

.red,
.green,
.yellow,
.blue {
	&::before {
		content: "";
		display: block;
	}
}
.red::before {
	background-color: red;
}
.green::before {
	background-color: green;
}
.yellow::before {
	background-color: yellow;
}
.blue::before {
	background-color: blue;
}
