---
---

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #f42f64;
}

header {
	margin-top: 5em;
	display: flex;
	justify-content: space-between;
	img {
		height: 3em;
	}
	&::after {
		content: "";
	}
}

main {
	display: flex;
	background-color: #e5f1e7;
	padding: 1em;
	border-radius: 1em;
	// flex-wrap: wrap;
	gap: 1em;

	.triangle {
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		top: 50%;

		&.right {
			border-width: 2em 0 2em 1.5em;
			border-color: transparent transparent transparent #f42f64;
			right: -2em;
		}

		&.left {
			border-width: 2em 1.5em 2em 0;
			border-color: transparent #f42f64 transparent transparent;
			left: -2em;
		}
	}
}

.games-list {
	flex: 1;
	flex-basis: 475px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	gap: 1em;

	img {
		width: 150px;
		border-radius: 1em;
	}

	.game {
		display: flex;
		justify-content: space-around;

		&:focus,
		&:hover,
		&:focus-visible,
		&.debug {
			outline: none;
			position: relative;

			&::before {
				content: "";
				border-radius: 1em;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 0.5em solid transparent;
				border-color: #f42f64;
			}

			&::after {
				content: "SELECT";
				padding: 0 10px;
				font-size: 13px;
				color: white;
				font-weight: bold;
				background-color: #f42f64;
				background-image: linear-gradient(0deg, rgba(211, 52, 92, 1) 20%, transparent 35%);
				border-radius: 0.5rem;

				position: absolute;
				top: 0;

				outline: white solid;
			}
		}
	}
}
.game-info {
	background-color: white;
	border-radius: 1em;
	flex: 1 0 33%;
	& > * {
		margin: 1em;
	}
}
footer {
	margin: 1.5em;
	height: 3.5em;
	display: flex;
	align-items: center;
	gap: 3em;
	padding-left: 3em;

	background-color: #f5f5f5; /* Background color of the element */
	border: 1px solid #ddd; /* Border color */
	border-radius: 1em; /* Border radius */
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), /* Inner highlight */ 0 1px 1px rgba(0, 0, 0, 0.1); /* Outer shadow */
	background-image: linear-gradient(
		0deg,
		#ebece7 0%,
		rgba(229, 229, 229, 1) 27%,
		rgba(255, 255, 255, 1) 61%,
		#ebece7 100%
	);
	a {
		display: flex;
		align-items: center;
		&::before {
			border-style: inset;
			border-radius: 25%;
			width: 2em;
			height: 2em;
			margin-right: 1em;
		}
	}
}
