<html>

<head>
	<link rel="stylesheet" href="https://tumble1999.github.io/sky-epg/sky.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<body>
	<div class="container">
		<header class="nav">
			<div class="header-logo">
				<img src="/assets/img/sky.png" alt="" id="sky_logo">
				<label for="sky_logo">guide</label>
			</div>
			<div class="header-item">
				<img src="/assets/img/guide-tab.svg" alt="" id="guide_logo">
				<label for="sky_logo">TV GUIDE</label>
			</div>
			<div class="header-item">
				<img src="/assets/img/box-office-tab.svg" alt="" id="bo_logo">
				<label for="sky_logo">BOX OFFICE</label>
			</div>
			<div class=" header-item">
				<img src="/assets/img/services-tab.svg" alt="" id="services_logo">
				<label for="sky_logo">SERVICES</label>
			</div>
			<div class="header-item active">
				<img src="/assets/img/interactive-tab.svg" alt="" id="interactive_logo">
				<label for="sky_logo">INTERACTIVE</label>
			</div>
		</header>
		<main> {{content}} </main>
	</div>
</body>

</html>
