<html>

<head>
	<title>{{page.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="{{site.url}}/assets/css/base.css">
	{% for css in page.css %}
	<link rel="stylesheet" href="{{site.url}}/assets/css/{{css}}">
	{% endfor %}

	{% capture seo %}{% seo %}{% endcapture %}
	{% if page.image and page.image != site.logo %}
	{{seo | replace: "summary", "summary_large_image"}}
	{% else %}
	{{seo}}
	{% endif %}
</head>

<body class="{{page.tag}}">
	<script>
		const SKY_GAMES = JSON.parse(`{{site.data.games | jsonify }}`)
	</script>

	<div class="container">
		{{content}}
	</div>
	<div id="controls" style="display: none;"><img src="https://denki.co.uk/sky/Controls.png" alt=""></div>
	<script src="https://stb-gaming.github.io/assets/js/epg.js"></script>
	<script src="https://stb-gaming.github.io/assets/js/menu.js"></script>
	<script src="https://stb-gaming.github.io/userscripts/sky-remote.user.js"></script>
	{% for js in page.js %}
	<script src="{{site.url}}/assets/js/{{js}}"></script>
	{% endfor %}
</body>

</html>
