<html>

<head>
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
	<link rel="stylesheet" href="{{site.url}}/assets/css/base.css">
	{% for css in page.css %}
	<link rel="stylesheet" href="{{site.url}}/assets/css/{{css}}">
	{% endfor %}
</head>

<body class="{{page.tag}}">

	<div class="container">
		{{content}}
	</div>
	<div id="controls" style="display: none;"><img src="https://denki.co.uk/sky/Controls.png" alt=""></div>

	<script src="{{site.url}}/assets/js/base.js"></script>
	{% for js in page.js %}
	<script src="{{site.url}}/assets/js/{{js}}"></script>
	{% endfor %}
	<script src="{{site.url}}/assets/js/controls.js"></script>
</body>

</html>
