---
title: Sky Games 2007
tag: sky-games-2007
css:
- sky-games.css
js:
- sky-games.js
---
<header>
	<img src="{{site.url}}/assets/img/games/SKY Games/SkyGamesLogo-3D Ball-RGB.jpg" alt="">
	<div class="tabs">
		<a href="#">Tab 1 </a>
		<a href="#">Tab 2</a>
		<a href="#">Tab 3</a>
	</div>
</header>
<main>
	<div>
		{% assign pages = site.data.games.size | divided_by: 9 | ceil %}
		{% for mult in (0..pages) %}
		{% assign off = mult | times: 9 %}
		<div class="games-list">
			{% for game in site.data.games | limit: 9 | offset: off %}
			<a class="game" href="{{game.url}}" {% for attr in game %} data-{{attr[0]}}="{{attr[1]}}" {% endfor %}><img
					src="{{site.url}}/assets/img/games/{{game.image|default:game.splash|default:game.menu|default:game.gameplay}}"
					alt="{{game.title}}"></a>
			{% endfor %}<a class="triangle left" href="javascript:lastPage()"></a>
			<a class="triangle right" href="javascript:nextPage()"></a>
		</div>
		{% endfor %}
	</div>
	<div>
		<div id="game-info">
			<h1>Choose a game</h1>
			<div class="screenshot"><img src="#" alt="Game Name"></div>
			<p>Hover over a game to see details</p>
		</div>
	</div>


</main>
<footer>
	<a href="javascript:pressRed()" class="red">Controls</a>
	<a href="javascript:pressGreen()" class="green">No Games</a>
	<a href="javascript:pressYellow()" class="yellow">Music</a>
	<a href="javascript:pressBlue()" class="blue">Change Menu</a>
</footer>
<script>
	let song = new Audio("{{site.url}}/assets/audio/sky-games-pause.mp3");
	song.loop = true;
	let image_prefix = "{{ site.url }}/assets/img/games/"
</script>
